rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permissive rules for a simple application with mock and persistent clients
    match /users/{userId} {
      allow read, write: if true;
    }
    
    match /orders/{orderId} {
      allow read, write: if true;
    }
  }
}
